// * {
//     outline: 1px red solid;
// }
html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    outline: 1px red solid;
}

.section2 {
    margin-top: 300px;
}

.border1 {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    width: 666px;
    height: 337px;
    top: 290.85px;
    border: 16px solid #FD7B38;
    z-index: -1;
}

.border2 {
    box-sizing: border-box;
    position: absolute;
    // width: 294px;
    // height: 338px;
    // left: 998.7px;
    top: 150px;
    border: 11px solid #FFFFFF;
    z-index: 1;
    right: 0;
    transform: rotate(-7.08deg);
}

.border3 {
    box-sizing: border-box;
    position: absolute;
    // width: 300.41px;
    // height: 222.68px;
    // left: 1166px;
    top: 200.9px;
    border: 11px solid #FFFFFF;
    z-index: 2;
    right: 0;
    transform: rotate(4.19deg);
    margin-right: 250px;
}

.border4 {
    box-sizing: border-box;
    position: absolute;
    // width: 377.25px;
    // height: 222.68px;
    // left: 1076px;
    top: 400.05px;
    border: 11px solid #FFFFFF;
    z-index: 3;
    right: 0;
    transform: rotate(-7.08deg);
}

.section3 {
    margin-top: 400px;
}

.btn1 {
    width: 200px;
    height: 40px;
}

.section4 {
    margin-top: 150px;
    background-color: #F6F6F6;
    padding: 40px;
}

.kartu1 {
    background-color: #1A2C21;
    width: 600px;
    min-height: 300px;
}

.kartu2 {
    background-color: #0C5B21;
    width: 600px;
    min-height: 300px;
}

.card:hover {
    transform: scale(120%);
    transition: .2s;
    z-index: 1;
}

.awan {
    position: absolute;
}

.awan1 {
    right: 19.17%;
    top: 90.67%;
}

.awan2 {
    right: 10.22%;
    top: 25.16%;
}

.awan3 {
    right: 3.9%;
    top: 32.48%;
}

.awan4 {
    right: 12.17%;
    top: 12.67%;
}

.awan5 {
    right: 12.17%;
    top: 12.67%;
}

.section5 {
    margin-top: 150px;
}

.section6 {
    background-color: #1A2C21;
    border-radius: 20px;
}

.btn2 {
    width: 200px;
    height: 40px;
}

// background footer via css
// .bgf1 {
//     background: rgb(255, 255, 255);
//     background: linear-gradient(166deg, rgba(255, 255, 255, 1) 63%, rgba(253, 123, 56, 1) 63%, rgba(255, 87, 0, 1) 100%);
//     height: 400px;
// }
// .bgf2 {
//     background: rgb(255, 236, 236);
//     background: linear-gradient(202deg, rgba(255, 236, 236, 0) 0%, rgba(255, 255, 255, 1) 57%, rgba(0, 0, 0, 1) 57%);
// }
.footer {
    background-image: url("images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    .container-fluid {
        .row {
            .box-footer {
                padding-top: 150px;
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                    line-height: 30px;
                }
                p {
                    display: flex;
                    padding: 0;
                    margin: 5px 0;
                }
                h5 {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
            .box1 {
                padding-top: 35px;
                padding-left: 35px;
                h3 {
                    color: #fd7b38;
                    font-weight: 600;
                }
                p {
                    color: #fff;
                }
            }
            .box2 {
                color: #fff;
                padding-top: 35px;
                padding-right: 35px;
                i {
                    float: right;
                    padding: 0 20px;
                    font-size: 20px;
                    padding-bottom: 20px;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
}

// media query
@media(max-width:1320px) {
    .foto1 {
        margin-top: 50px;
        position: absolute;
        right: 0;
    }
    .section3 {
        margin-top: 600px;
    }
}